.Profilbild {
    width: auto;
    height: 210px;
    background: #aaa;
  }

.IMG {
    height: 200px;
    background: #aaa;
  }


.überschrift{
    background: rgba(170, 170, 170, 0.267)
}

.backround{
  background: url(src/Bilder/P1000789.jpg);
  alt: "Iceland/Reykjavik";
  max-width: 100%; 
  height: auto; 
}

body{
  background: url(src/Bilder/P1000789.jpg) no-repeat center center fixed;
  alt: "Iceland/Reykjavik";
  max-width: 100%; 
  height: auto;
}
